@import "../../variables.modules";

i {
  padding-left: 0.5rem;

  &.red {
    color: $red;
  }

  &.amber {
    color: $yellow;
  }

  &.green {
    color: $green;
  }
}

.card {
  p, li {
    margin: 1rem 0;
    color: $white;
  }

  a, a:visited {
    animation: changeColors 3s infinite;
    font-weight: bold;
  }
}
//
.cardImage {
    width: 300px;        /* Larghezza fissa */
    height: auto;        /* Altezza proporzionale */
    object-fit: contain; /* Mantiene le proporzioni dell'immagine */
    max-height: 100%;    /* Impedisce che l'immagine si estenda oltre */
}

@keyframes changeColors {
  0% {
    color: #793eee;
  }
  33.3% {
    color: #793eee;
  }
  66.6% {
    color: #793eee;
  }
  100% {
    color: #793eee;
  }
}